[Unit]
Description=Cirrus Backup

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin
Environment=RUST_BACKTRACE=1
Restart=on-failure
ExecStart={{executable}} daemon

[Install]
WantedBy=default.target
