<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %} &mdash; Cirrus [{{ base.instance_name }}]</title>
</head>
<body>
{% block content %}{% endblock content %}
<div id="left-sidebar">
    <ul id="nav">
        <li>
            <a href="{{ base.nav.overview.link }}"><strong>{{ base.nav.overview.name }}</strong></a>
        </li>
        <li><strong>Repositories</strong></li>
        {% for repo in base.nav.repos %}
        <li class="left-sidebar-nav-repo">
            <a href="{{ repo.link }}">{{ repo.name }}</a>
        </li>
        {% endfor %}

        <li><strong>Backups</strong></li>
        {% for backup in base.nav.backups %}
        <li class="left-sidebar-nav-backup">
            <a href="{{ backup.link }}">{{ backup.name }}</a>
            {% if backup.status.status == "Running" %}
            <span class="left-sidebar-nav-backup-running">[Running]</span>
            {% elif backup.status.status == "Error" %}
            <span class="left-sidebar-nav-backup-error">[Error]</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
