[Desktop Entry]
Type=Application
Version=1.1
Name=Cirrus Backup
GenericName=Backup
Icon=io.gitlab.fkrull.cirrus.Cirrus
Exec=cirrus
StartupNotify=false
Categories=Utility;Archiving
Keywords=restic;s3;backblaze;b2
